.navbar {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
}

.navbar a{
 text-decoration: none; 
}

.left {
  flex: 1;
  display: flex;
  justify-content: center;
}

.center {
  flex: 3;
}

.right {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.mobile-menu{
  background-color: #333;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  transition: all 0.4s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.mobile-menu > div{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(256, 256, 256, 0.3);
}

.mobile-menu > div > p{
  color: #fff;
  font-size: 1.6rem;
}

.ckb-menu{
  display: none;
}

.ckb-menu:checked ~ .mobile-menu{
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.btn{
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  padding: 1rem;
  background-color: transparent;
  border: none;
  display: none;
}

.logo {
  user-select: none;
  letter-spacing: 1px;
  text-decoration: none;
  color: #000;
}

@media screen and (max-width:48em) {
  .right{
    flex: 2;
  }
}
@media screen and (max-width:27em) {
  .navbar{
    background-color: rgba(128, 128, 128, 0.6);
overflow: visible;
  }
  .right,center{
    display: none;
  }
  .btn{
    display: inline-block;
  }
  /* .mobile-menu{
    transform: translateY(0);
    display: block;
  } */
}