.product {
  min-width: 20rem;
  width: 23%;
  height: 35rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin: 0.5rem;

  transition: transform 0.2s;
}

.product:hover {
  transform: scale(1.04);
}

.product .product__img {
  width: 100%;
  height: 40%;
  object-fit: contain;
  margin-bottom: 1rem;
}

.product__title {
  text-align: center;
  font-size: 1.9rem;
  font-weight: 600;
}

.product__buy {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product__cost {
  font-size: 1.4rem;
}

.product__btn {
  padding: 0.6rem 1.6rem;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  background-color: #2bb472;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 500;
  transition: background-color 0.3s, transform 0.2s;
  text-decoration: none;
}

.product__btn:hover {
  background-color: #218856;
}

.product__btn:active {
  transform: translate(1px, 2px);
}

@media screen and (max-width: 37.5em) {
  .product {
    width: 90%;
  }
}
